{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>AdZU SHS Laboratory Inventory</h2>
  <div class="row">
    {% for lab in labs %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{ lab|capitalize }} Lab</h5>
          <p class="card-text">{{ stats[lab] }} items</p>
          <a href="{{ url_for('user.lab_view', lab_name=lab) }}" class="btn btn-primary">
            View Inventory
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}